@page
@using loyaut_razorpages.Entities
@model loyaut_razorpages.Pages.Admin.IndexModel
@{
}
<div class="row">
  <div class="col-12 col-xl-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Basic Table</h5>
        <h6 class="card-subtitle text-muted">
          Using the most basic table markup, here’s how .table-based tables look in Bootstrap.
        </h6>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th style="width:40%;">Name</th>
                        <th style="width:25%">Price</th>
                        <th>Actions</th>
          </tr>
        </thead>
                <tbody>
        @foreach (var item in Model.MealList)
                {
                    <tr>
                        <td>@item.Id</td>
            <td>@item.Name</td>
              <td class="d-none d-md-table-cell">@item.Price</td>
                        <td class="table-action">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
                        </td>
                    </tr>
          }
                </tbody>
      </table>
    </div>
  </div>
</div>
