@page
@model restaurant_kross.Pages.Foods.bankaiModel
@{
}

<h1>
    bankai katen kyōkotsu karamatsu shinjū
</h1>
<img src="https://i.pinimg.com/736x/3e/29/25/3e29250481aae5aadcf45d2ffb2d7aff.jpg" alt="Shunsui Kyōraku" style="max-width: 100%;">