@page
@model restaurant_kross.Pages.Foods.foodmenuModel
@{
    var isVegeterian = true;

    var meals = new List<Meal>
    {
     new Meal{Name = "salad" , isVegen = true},
     new Meal{Name = "burger"  , isVegen = false}
    };
}

<ol>
    @foreach(var item in meals)
    {
        @if (item.isVegen)
        {
            <li style="color:green">
                @item.Name
            </li>
        }
        else
        {
            <li style="color:red">
                @item.Name
            </li>
        }
    }
</ol>


//salad , coffee , steak