@page
@model restaurant_kross.Pages.Foods.steakModel
@{
    var steak = new List<Steak>
    {
        new Steak{Name = "Beef Steak" },
        new Steak{Name = "Chicken Steak" }
    };
}
    
<ol>
    @foreach(var item in steak)
    {
        @if(item.Name == "Beef Steak")
        {
            <h1>@item.Name</h1>
            <img src="https://www.seriouseats.com/thmb/-KA2hwMofR2okTRndfsKtapFG4Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2015__05__Anova-Steak-Guide-Sous-Vide-Photos15-beauty-159b7038c56a4e7685b57f478ca3e4c8.jpg" alt="Shunsui Kyōraku" style="max-width: 100%;">
        }
        else
        {
            <h1>@item.Name</h1>
            <img src="https://www.seriouseats.com/thmb/-KA2hwMofR2okTRndfsKtapFG4Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2015__05__Anova-Steak-Guide-Sous-Vide-Photos15-beauty-159b7038c56a4e7685b57f478ca3e4c8.jpg" alt="Shunsui Kyōraku" style="max-width: 100%;">
        }
    }
</ol>